.intern-info {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    gap: 2vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    color: rgb(148, 163, 184);
    width: 100%;
    border: 3px solid transparent;
    transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;
    padding: 10px;
}

.desc {
    font-size: 13px;
    width: 100%;
}

.inform {
    width: 65%;
}

.light-up {
    color: rgb(223, 219, 219);
}

.light-up a {
    text-decoration: none;
    color: rgb(223, 219, 219);
}

.blobs {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 9999px;
    border: 1px solid #ccc;
    font-weight: 300;
    margin: 5px;
}

.card h3 :hover {
    color: aqua;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px) scale(1.00);
    background-color: rgb(26, 34, 52);
}

@media (max-width: 1024px) {
    .intern-info {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2vw;
        margin-bottom: 5vh;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2vw;
        color: rgb(148, 163, 184);
        width: 100%;
        border: 3px solid transparent;
        transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;
        padding: 10px;
    }
    .inform{
        width: 100%;
    }
    .inform p{
        width: 100%;
        font-size: 12px;
    }
    .date{
        width: 30%;
    }
}